@model IEnumerable<EasyRight.Models.EROperation>

@{
    ViewBag.Title = "Index";

    var groupOperations = Model.GroupBy(m => m.GroupName);
}

<h2>Index</h2>

<style type="text/css">
    .fl { margin: 0; padding: 0; list-style: none; margin: 0 0 20px; }
        .fl li { margin: 0 0 15px; overflow: hidden; }
</style>

@using (Html.BeginForm())
{
    foreach (var item in groupOperations)
    {
    <div class="dashboardWidget rounded">
        <h2 style="border: none;">@item.Key</h2>
        <ul class="fl">
            @foreach (var oper in item)
            {
                <li>
                    <input type="checkbox" name="@oper.Id" id="@oper.Id" @(oper.IsSelected ? "checked='checked'" : "") />
                    <label class="checkbox" for="@oper.Id" title="@oper.Description">@oper.Name</label>
                </li>
            }
        </ul>
    </div>
    }
    
    <input type="submit" value="Save" />
}