@model EasyRight.Models.ERProperty
@{
    Layout = null;
}

<tr>
    <td>@this.Model.Name</td>
    <td>
        <div class="hidden">
            @Html.EditorFor(x => x.Name)
            @Html.EditorFor(x=>x.TemplateName)
        </div>

        @if(this.Model.TemplateName.Contains("DateTime"))
        {
            @Html.EditorFor(x =>Convert.ToDateTime(x.Value), "DateTime", null)
        }
        else
        {
            @Html.EditorFor(x =>x.Value, this.Model.TemplateName, null)
        }
    </td>

</tr>
