@model EasyRight.Models.ERUser

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ERUser</legend>

        @Html.EditorForModel()

        <div class="editor-label">
             @Html.LabelFor(model => model.Properties)
         </div>
        <div class="editor-field">
            <fieldset>
                <legend>Additional Properties
                </legend>
                <table>
                    @Html.EditorFor(model => model.Properties)
                </table>
            </fieldset>

            @Html.ValidationMessageFor(model => model.Properties)
        </div>

        @Html.Action("SelectUserRoles", "Role", new { user = Model });

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
