<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - My ASP.NET MVC Application</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<meta name="viewport" content="width=device-width" />

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryui")
	@Scripts.Render("~/bundles/common")

	@Styles.Render("~/Content/themes/base/css")
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

	<script type="text/javascript">

		$(document).ready(function () {
			$(".ui_date_picker").datepicker({
				changeMonth: true,
				changeYear: true,
				dateFormat: 'yy-mm-dd'
			});
		});
	</script>

</head>
<body>
	<div class="content-wrapper">
		<div class="float-left">
			<p class="site-title">@Html.ActionLink("Easy Right", "Index", "Home")</p>
		</div>
		<div class="float-right">
			<nav>
				<ul id="menu">
					<li>@Html.ActionLink("User", "Index", "User")</li>
					<li>@Html.ActionLink("Role", "Index", "Role")</li>
				</ul>
			</nav>
		</div>
	</div>
	<div id="body">
		@RenderSection("featured", required: false)
		<section class="content-wrapper main-content clear-fix">
			@RenderBody()
		</section>
	</div>
	<footer>
		<div class="content-wrapper">
			<div class="float-left">
				<p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
			</div>
		</div>
	</footer>

	@RenderSection("scripts", required: false)
</body>
</html>
